.App {
    width: 100vw;
    height: 100vh;
    background: #fff;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: block;
    place-items: center;
  }
  body {
    margin: 0%;
    padding: 0%;
  }
  
  .joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .joinChatContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .joinChatContainer button {
    width: 225px;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: #fff;
    cursor: pointer;
  }
  
  .joinChatContainer button:hover {
    background: #2e7d32;
  }

  .c-window p {
    margin: 0;
  }
  .c-window .c-header {
    height: 45px;
    border-radius: 0px;
    background: #263238;
    position: relative;
  }
  .c-window .c-header #Head {
      display: block;
      padding: 0 1em 0 2em;
      color: #fff;
      font-weight: 1000;
  }
  .c-window .c-header #roomNo {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 20px;
  }
  
  .c-window .c-body {
    height: calc(740px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;
    position: relative;
  }
  .c-window .c-body .msg-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .chat-window .chat-footer {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
  }
  
